[Desktop Entry]
Type=Application
Name=EclipseWork
Comment=Eclipse Integrated Development Environment
Icon=/home/osboxes/dev/ecpse/oomInstalled/eclipse/eclipse/icon.xpm
Exec=/home/osboxes/dev/ecpse/oomInstalled/eclipse/eclipse/eclipse
Terminal=false
Categories=Development;IDE;Java;
StartupWMClass=Eclipse
Name[en_GB.UTF-8]=EW
